---
import type { Language } from "@/types/language";
import { useTranslations } from "@/i18n/utils";

const lang = Astro.params.lang as Language;
const t = useTranslations(lang);
const tabs = (t("work.tabs") as string[]).map((tab: string, index) => ({
  name: tab,
  id: index === 0 ? "all" : tab.toLowerCase(),
}));
---

<div class="flex flex-wrap gap-2 mt-6 md:mt-0" data-tabs>
  {
    tabs.map((tab) => (
      <button
        class="capitalize tab-btn px-4 py-2 rounded-full text-sm font-medium transition-all bg-stone-100 text-stone-600 hover:bg-stone-200 hover:text-stone-900"
        data-tab={tab.id}
        data-filter={tab.id}
      >
        {tab.name}
      </button>
    ))
  }
  <!-- <button -->
  <!--   class="tab-btn active px-4 py-2 rounded-full text-sm font-medium transition-all bg-stone-900 text-white" -->
  <!--   data-tab="all" -->
  <!--   data-filter="all">All</button -->
  <!-- > -->
  <!-- NOTE: Ask permission to clients to put the two project-card -->
  <!-- <button -->
  <!--   class="tab-btn px-4 py-2 rounded-full text-sm font-medium transition-all bg-stone-100 text-stone-600 hover:bg-stone-200 hover:text-stone-900" -->
  <!--   data-tab="freelance" -->
  <!--   data-filter="freelance">Freelance</button -->
  <!-- > -->
</div>
<script>
  // --- FILTERING LOGIC ---
  function filterProjects(category: string) {
    const buttons = document.querySelectorAll(
      ".tab-btn",
    ) as NodeListOf<HTMLButtonElement>;
    const cards = document.querySelectorAll(
      "project-card",
    ) as NodeListOf<HTMLDivElement>;

    // Update Buttons
    buttons.forEach((btn) => {
      if (btn.dataset.tab === category) {
        btn.classList.remove("bg-stone-100", "text-stone-600");
        btn.classList.add("bg-stone-900", "text-white");
      } else {
        btn.classList.remove("bg-stone-900", "text-white");
        btn.classList.add("bg-stone-100", "text-stone-600");
      }
    });

    // Update Grid
    cards.forEach((card) => {
      if (category === "all" || card.dataset.category === category) {
        card.classList.remove("project-hidden");
      } else {
        card.classList.add("project-hidden");
      }
    });
  }

  const $tabs = document.querySelector("[data-tabs]");
  if (!$tabs) throw new Error("Tabs container not found");
  $tabs.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    if (target.dataset.tab) {
      filterProjects(target.dataset.tab);
    }
  });
</script>
