---
const LAUNCH_DATE = new Date("2025-12-24T12:30:00Z").getTime(); // 1713033000000
---

<section class="section">
  <div class="section--time" data-date={LAUNCH_DATE}>
    <span data-days class="countdown">00</span>
    <span>Days</span>
  </div>

  <div class="section--time">
    <span data-hours class="countdown">00</span>
    <span>Hours</span>
  </div>
  <div class="section--time">
    <span data-minutes class="countdown">00</span>
    <span>Minutes</span>
  </div>

  <div class="section--time">
    <span data-seconds class="countdown">00</span>
    <span>Seconds</span>
  </div>
</section>

<style lang="scss">
  .section {
    display: flex;
    justify-content: space-around;

    &--time {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: max(7vh, 2rem);
      gap: max(2vh, 1.5rem);
    }

    .countdown {
      border: 2px solid white;
      padding: calc(0.5rem + 0.7vh);
      font-size: calc(1.3rem + 2.3vw);
      font-weight: 600;
      text-align: center;
      width: max(8vw, 9vh);
      min-width: fit-content;

      & + span {
        font-weight: 600;
        text-align: center;
        font-size: calc(0.8rem + 1.2vw);
      }
    }
  }
</style>
<script src="../scripts/app.ts"></script>
